#navbar-paddingmaker {
  display: block;
  position: relative;
  height: 50px;
  left: 0;
  bottom: 0;
}

#navbar-paddingmaker.top {
  bottom: auto;
  top: 0;
}

#navbar-navigator {
  position: fixed;
  width: 50%;
  height: 50px;
  z-index: 99999;
  bottom: 0;
  left: 0;
  background-color: rgba(53, 53, 53, .85);
  box-shadow: 0 0 10px black;
  text-align: center;
}

#navbar-navigator.right {
  left: auto;
  right: 0;
  border-radius: 10px 0 0 10px;
}

#navbar-navigator.left {
  border-radius: 0 10px 10px 0;
}

#navbar-navigator.center {
  border-radius: 10px;
  margin: 0 25%;

  &.center-full-width {
    border-radius: 0;
  }
}

#navbar-navigator.bottom {
  -webkit-border-bottom-left-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
}

#navbar-navigator.top {
  bottom: auto;
  top: 0;
  -webkit-border-top-left-radius: 0px;
  -webkit-border-top-right-radius: 0px;
}

.navbar-button {
  border-radius: 0 !important;
  border-width: 0 !important;
  border-color: transparent !important;
  box-shadow: none !important;
  color: #ddd;
  padding: 2px 5% 0;
  background-color: transparent;
  font-weight: bold;
  font-size: 2em;
  height: 50px;
  line-height: 50px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  min-height: 0 !important;
  cursor: pointer;

  &:hover {
    opacity: .5;
  }

  &:focus, &:active {
    outline-width: 0;
  }
}
/*
#navbar-navigator {
  &.left, &.right {
    .navbar-button {
      padding: 2px 20% 0;
    }
  }
}*/
