stages:
  - test
  - package
  #- packagetest
  - deploy


test:debian:
  stage: test
  script:
    - apt-get update -qy
    - apt-get install -y curl gnupg apt-transport-https python3-dev python3-setuptools python3-pip python3-venv git
    - python3 -m venv .venv
    - ./.venv/bin/pip install .[dev,test]
    - ./.venv/bin/ruff check .
    - ./.venv/bin/mypy .
    - ./.venv/bin/pytest .
  tags:
    - debian

test:archlinux:
  stage: test
  script:
    - pacman -Sy python python-setuptools python-pip gcc git --noconfirm
    - python3 -m venv .venv
    - ./.venv/bin/pip install .[dev,test]
    - ./.venv/bin/ruff check .
    - ./.venv/bin/mypy .
    - ./.venv/bin/pytest .
  tags:
    - archlinux



package:debian:
  stage: package
  script:
    - apt-get update -qy
    - apt-get install -y wget gnupg apt-transport-https
    - wget -O- https://repository.salamek.cz/deb/salamek.gpg | tee /usr/share/keyrings/salamek-archive-keyring.gpg
    - echo "deb     [signed-by=/usr/share/keyrings/salamek-archive-keyring.gpg] https://repository.salamek.cz/deb/pub all main" | tee /etc/apt/sources.list.d/salamek.cz.list
    - apt-get update -qy
    - apt-get install -y python3-pip python3-stdeb python3-docopt python3-yaml python3-websocket dh-python python3-watchdog
    - rm -rf "./deb_dist"
    - python3 setup.py --command-packages=stdeb.command sdist_dsc --compat 14 bdist_deb
  tags:
    - debian

  artifacts:
    paths:
      - deb_dist/*.deb
    expire_in: 1d

package:archlinux:
  stage: package
  script:
    - echo "[salamek]" >> /etc/pacman.conf
    - echo "Server = https://repository.salamek.cz/arch/pub/x86_64" >> /etc/pacman.conf
    - echo "SigLevel = Optional" >> /etc/pacman.conf
    - pacman -Sy qiosk git python-setuptools python-build python-installer xfwm4 fakeroot xf86-video-fbdev xorg-xrandr binutils sudo chromium xorg-server xorg-xset xorg-xinit xorg-xinput alsa-utils ttf-dejavu unclutter python-yaml python-docopt python-websocket-client base-devel python-watchdog --noconfirm
    - useradd -m -G users -s /bin/bash package
    - cd archlinux
    - python compile.py
    - sudo -H -u package makepkg -f
    - cd -
  tags:
    - archlinux

  artifacts:
    paths:
      - archlinux/chromium-kiosk*.pkg.tar.zst
    expire_in: 1d

#  dependencies:
#    - test:archlinux


repoupdate:
  stage: deploy
  variables:
    GIT_STRATEGY: none
  before_script:
    - 'which ssh-agent || ( apt-get update -y && apt-get install openssh-client -y )'
    - eval $(ssh-agent -s)
    - ssh-add <(echo "$SSH_PRIVATE_KEY")
    - mkdir -p ~/.ssh
    - '[[ -f /.dockerenv ]] && echo -e "Host *\n\tStrictHostKeyChecking no\n\n" > ~/.ssh/config'
  script:
    - ssh www-data@repository 'rm -rf /var/www/repository.salamek.cz/www/arch/pub/any/chromium-kiosk-2*.pkg.tar.zst'
    - ssh www-data@repository 'rm -rf /var/www/repository.salamek.cz/cache/deb/pub/all/chromium-kiosk_2*.deb'
    - scp archlinux/chromium-kiosk*.pkg.tar.zst www-data@repository:/var/www/repository.salamek.cz/www/arch/pub/any
    - scp deb_dist/*.deb www-data@repository:/var/www/repository.salamek.cz/cache/deb/pub/all
    - ssh www-data@repository '/var/www/repository.salamek.cz/deb-pub-update.sh'
    - ssh www-data@repository '/var/www/repository.salamek.cz/arch-pub-update.sh'
  dependencies:
    - package:archlinux
    - package:debian
  tags:
    - docker
  only:
    - tags
