pkgname=chromium-kiosk
pkgver=2.7.4
pkgdesc="Chromium kiosk."
pkgrel=1
arch=('any')
backup=('etc/chromium-kiosk/config.yml')
license=('GPL-3.0')
url='https://github.com/Salamek/chromium-kiosk'
#md5sums=('SKIP')
install=chromium_kiosk.install
makedepends=(python-build python-installer python-wheel python-setuptools)
replaces=('granad-kiosk')
depends=(
    'python>={{python_version}}'
    'python<{{python_version_up}}'
    'python-setuptools'
    'qiosk'
    'xorg-server'
    'xorg-xset'
    'xorg-xinit'
    'xorg-xrandr'
    'xorg-xinput'
    'xf86-video-fbdev'
    'xfwm4'
    'alsa-utils'
    'unclutter'
    'python-yaml'
    'python-docopt'
    'python-websocket-client'
    'python-watchdog'
)

optdepends=(
    'xf86-video-fbturbo: Install on Raspberry PI 3 for faster rendering'
)

prepare() {
  mkdir -p "${srcdir}/${pkgname}"
  cp -R "${srcdir}/../../etc" "${srcdir}/${pkgname}"
  cp -R "${srcdir}/../../usr" "${srcdir}/${pkgname}"
  cp -R "${srcdir}/../../var" "${srcdir}/${pkgname}"
  cp -R "${srcdir}/../../chromium_kiosk" "${srcdir}/${pkgname}"
  cp -R "${srcdir}/../../pyproject.toml" "${srcdir}/${pkgname}"
  cp -R "${srcdir}/../../tests" "${srcdir}/${pkgname}"
  cp -R "${srcdir}/../../README.md" "${srcdir}/${pkgname}"
}


package() {
  cd "${srcdir}/${pkgname}"
  python -m installer --destdir="$pkgdir" dist/*.whl
  
  # Install data files manually since pyproject.toml doesn't support data_files
  install -Dm644 etc/chromium-kiosk/config.yml "${pkgdir}/etc/chromium-kiosk/config.yml"
  install -Dm644 usr/lib/systemd/system/getty@tty1.service.d/override.conf "${pkgdir}/usr/lib/systemd/system/getty@tty1.service.d/override.conf"
  install -Dm644 usr/lib/systemd/system/chromium-kiosk_configwatcher.service "${pkgdir}/usr/lib/systemd/system/chromium-kiosk_configwatcher.service"
  install -Dm644 usr/lib/sysusers.d/chromium-kiosk.conf "${pkgdir}/usr/lib/sysusers.d/chromium-kiosk.conf"
  install -Dm644 usr/lib/tmpfiles.d/chromium-kiosk.conf "${pkgdir}/usr/lib/tmpfiles.d/chromium-kiosk.conf"
  install -Dm644 var/lib/chromium-kiosk/.bash_profile "${pkgdir}/var/lib/chromium-kiosk/.bash_profile"
  install -Dm644 var/lib/chromium-kiosk/.hushlogin "${pkgdir}/var/lib/chromium-kiosk/.hushlogin"
  install -Dm644 var/lib/chromium-kiosk/.xinitrc "${pkgdir}/var/lib/chromium-kiosk/.xinitrc"
}